		<footer id="footer" role="contentinfo">
		<div id="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-push-6">
						<ul class="footer-menu">
							<!--<li><a href="aboutus4.html">About Us</a></li>
							<li><a href="faqs2.html">Faqs</a></li> -->
							<li><a href="/contact/">Contact Us</a></li>
						</ul>
					</div><!-- End .col-md-6 -->
					<div class="col-md-6 col-md-pull-6">
						<p class="copyright">All rights reserved. &copy; 2016</p>
					</div><!-- End .col-md-6 -->
				</div><!-- End .row -->
			</div><!-- End .container -->
		</div><!-- End #footer-bottom -->
	</footer>
<a href="#top" id="scroll-top" title="Back to Top"><i class="fa fa-angle-up"></i></a>
<!-- END -->

<!-- Smoothscroll -->
<script src="/js/smoothscroll.js"></script>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.hoverIntent.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/waypoints-sticky.min.js"></script>
<script src="/js/jquery.debouncedresize.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jflickrfeed.min.js"></script>
<script src="/js/twitter/jquery.tweet.min.js"></script>
<script src="/js/skrollr.min.js"></script>
<script src="/js/jquery.countTo.js"></script>
<script src="/js/isotope.pkgd.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.themepunch.tools.min.js"></script>
<script src="/js/jquery.themepunch.revolution.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/contact.js"></script>
<script src="/js/main.js"></script>
