<div id="revslider-container">
	<div id="revslider">
		<ul>
			<li data-transition="fade" data-slotamount="8" data-masterspeed="800" data-title="Tub" data-thumb="/images/homesliders/index/home1_thumb.jpg">
				<!-- background image -->
				<img src="/images/homesliders/index/home1.jpg"  alt="ducky in tub" data-lazyload="/images/homesliders/index/home1.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
				<div class="tp-caption rev-title lfb ltt"
					data-x="center"
					data-y="210"
					data-speed="1000"
					data-start="1000"
					data-easing="Power3.easeInOut"
					data-endspeed="600"
					style="z-index: 6">Labor Tubs Northwest
				</div>
				<div class="tp-caption rev-text lfb ltt"
					data-x="center"
					data-y="290"
					data-speed ="1000"
					data-start="1200"
					data-easing="Power3.easeInOut"
					data-endspeed="700"
					style="z-index: 12">delivering comfort to your birth

				</div>
			</li>
			<li data-transition="fade" data-slotamount="8" data-masterspeed="800" data-title="Mom relaxing" data-thumb="/images/homesliders/index/home2_thumb.jpg">
				<!-- background image -->
				<img src="/images/homesliders/index/home2.jpg"  alt="Ingrid" data-lazyload="/images/homesliders/index/home2.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
				
				<div class="tp-caption rev-title lfb ltt"
					data-x="center"
					data-y="210"
					data-speed="1000"
					data-start="1000"
					data-easing="Power3.easeInOut"
					data-endspeed="600"
					style="z-index: 6">Labor Tubs Northwest
				</div>

				<div class="tp-caption rev-text lfb ltt"
					data-x="center"
					data-y="290"
					data-speed ="1000"
					data-start="1200"
					data-easing="Power3.easeInOut"
					data-endspeed="700"
					style="z-index: 12">delivering comfort to your birth

				</div>
			</li>
			<li data-transition="fade" data-slotamount="8" data-masterspeed="800" data-title="Happy Moms" data-thumb="/images/homesliders/index/home7_thumb.jpg">
				<!-- background image -->
				<img src="/images/homesliders/index/home7.jpg"  alt="Moms" data-lazyload="/images/homesliders/index/home7.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
				
				<div class="tp-caption rev-title lfb ltt"
					data-x="center"
					data-y="210"
					data-speed="1000"
					data-start="1000"
					data-easing="Power3.easeInOut"
					data-endspeed="600"
					style="z-index: 6">Labor Tubs Northwest
				</div>


				<div class="tp-caption rev-text lfb ltt"
					data-x="center"
					data-y="290"
					data-speed ="1000"
					data-start="1200"
					data-easing="Power3.easeInOut"
					data-endspeed="700"
					style="z-index: 12">delivering comfort to your birth

				</div>
			</li>
		</ul>
	</div><!-- End #revslider -->
	<a href="#id-to-scroll" class="scroll-btn light" data-offset="-55" data-0="opacity:1" data-top-bottom="opacity:0;" title="Scroll Down"><span></span></a>
</div><!-- End #revslider-container -->