<div class="page-header parallax light larger2x larger-desc skrollable skrollable-between" data-bgattach="/images/header.jpg" data-0="background-position:50% 0px;" data-500="background-position:50% -100%" style="background-image: url(&quot;/images/header.jpg&quot;); background-position: 50% 0px;">
	<div class="container skrollable skrollable-between" data-0="opacity:1;" data-top="opacity:0;" style="opacity: 1;">
		<div class="row">
			<div class="col-md-12">
				<h1>{{ page.title }}</h1>
			</div><!-- End .col-md-6 -->
		</div><!-- End .row -->
	</div><!-- End .container -->
</div>